@font-face {
  font-family: "BorisBlackBloxx";
  src: url("../fonts/BorisBlackBloxx.ttf");
}

.app__bg-img {
  @apply h-screen bg-cover bg-center bg-fixed;
}

.app__bg-img:nth-child(1) {
  background-image: url("../img/bg_cursodeps.png");
}

.app__bg-img:nth-child(2) {
  background-image: url("../img/bg2_cursodeps.png");
}

.app__content {
  background-color: rgba(0, 0, 0, 0.3);
  @apply fixed top-0 w-screen h-screen flex flex-col;
}

h1,
h2,
h3 {
  @apply text-shadow-xl;
}

h1 {
  @apply lg:text-5xl md:text-3xl;
}

h2 {
  @apply lg:text-4xl md:text-2xl;
}

h3 {
  @apply lg:text-2xl md:text-lg;
}

article {
  position: relative;
  padding: 2rem;
}

article::before {
  content: "";
  z-index: -1;
  margin-top: -2rem;
  margin-left: -2rem;
  @apply absolute w-18rem h-full bg-red-600;
}
